body {
    background-color: #eeeae5;
    border: 5px solid #febf52;
    min-height: 100vh;
}

div {
    margin: 10px;

}
h1 {
  color: #345c4f;
}
h2 {
    color: #e67541;
    margin: 0px;
}

h3 {
   color: #eb5591; 
}

a:link {
    color:#345c4f;
}

a:visited {
    color: black;
}
