body {
    font-family: sans-serif;
}

h1 {
    font-family: "Pacifico", sans-serif;
    font-size: 3rem;
    color: #534489;
    margin: 0px;
    text-align: center;
}

h2 {
    color: #7a5197;
    text-align: center;
}


h3 {
    text-align: center;
    font-family: "Pacifico", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0px;
}


.funfact button {
    background-color: #bb5098;
}

.funfact h3 {
    color: #bb5098;
}

.catfact button {
    background-color: #f47f68;;
}

.catfact h3 {
    color:#f47f68;
    margin-top: 50px;
    
}


.results {
    display: flex;
    justify-content: center;

}

.result {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    border: solid 2px #f5c63c;
    width: 500px;
    margin: 10px;
    padding: 10px;

}

.buttons {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    color:#ffffff;
    font-weight: bold;
}